<head>
    {{ range .Site.Params.navlinks }}
    {{ if .home }}
    <meta http-equiv="refresh" content="0; URL={{ .url | absURL }}" />
    {{ end }}
    {{ end }}
    <meta name="p:domain_verify" content="01373a03e019012becff6f4fc31924cc"/>
  </head>
